.car {
  position: relative;

  width: 80px;
  height: 40px;

  mask: url('../../../assets/car.svg') no-repeat center/cover;

  background-color: var(--color-black);
}

.stopped {
  opacity: 0.8;
}

.started {
  opacity: 1;
}

.driving {
  opacity: 1;
}
